.header-container {
    padding: 1rem;
}

.info {
    display: flex;
    margin: 1rem 0 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-separator {
    width: 30%;
    margin: 1rem 0 1rem 0;
}