.navbar {
    position: fixed;
    background: linear-gradient(#141E30, #243B55);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    top: 0;
    left: 0;
    border: 0.1rem solid black;
    height: var(--navbar-height);
}

.container-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    height: calc(100vh - var(--navbar-height));
    opacity: 0.65;
}

.navbar-item a {
    color: #C0C0C0;
    display: block;
    text-align: center;
    line-height: 3rem;
    font-size: 2rem;
}


/* button menu */
#toggleButton {
    background: linear-gradient(to right, #0D1623, #1C2C47);
    padding: 0.6rem;
    border: none;
    cursor: pointer;

}