.navbar {
    position: fixed;
    background: linear-gradient(#141E30, #243B55);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    top: 0;
    left: 0;
    border: 0.1rem solid black;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
}

.list {
    display: flex;
}

.navbar-item {
    margin-left: 1rem;
}