.about>h2,
.projects>h2,
.project-item>h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.description>p {
    font-size: 1.1rem;
    line-height: 1.5;

}

.description {
    padding: 2rem;
}

.infographic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #3a4259;
    word-wrap: break-word;
}

.section {
    text-align: center;
    margin-bottom: 1rem;

}

.section-title {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    text-align: center;
}

.section-title::after {
    content: "\25BC";
    margin-left: 5px;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.section-content {
    display: none;
    padding-top: 10px;
}

.section.active .section-title::after {
    transform: rotate(180deg);
}

.language-list {
    column-count: 3;
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
    max-width: 300px;
}

.language-list li {
    display: inline-block;
    margin: 0.2rem;
    padding: 6px 12px;
    border: solid 0.1rem #3a4259;
    border-radius: 4px;
}

.language-list li:last-child {
    margin-right: 0;
}

.language-list li:hover {
    background-color: #e2e2e2;
}

.description,
.projects-container {
    background-color: #2C3346;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.projects-container {
    position: relative;
}

.project-container {
    display: flex;

}

.project-item {
    display: none;
    padding: 2rem;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}



.numberText {
    color: #f2f2f2;

    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 0;
}

.fade {
    animation: fade 0.5s ease-in-out
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.project-images {
    display: flex;
    justify-content: space-around;
}

.project-images img {
    width: 100px;
}

.project-links {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.project-links a {
    text-decoration: none;
    padding: 0.3rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.project-item p {
    margin-top: 1rem;
}