.about>h2,
.projects>h2,
.project-item>h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.description>p {
    font-size: 1.1rem;
    line-height: 1.5;

}

.description,
.projects-container {
    background-color: #2C3346;
    margin: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.project-container {
    display: flex;
}

.project-images {
    display: flex;
    justify-content: space-around;
}

.project-images img {
    width: 100px;
}