.about {
    margin: 1rem;
}

.about>h2,
.projects>h2,
.contact>h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.description>p {
    font-size: 1.1rem;
    line-height: 1.5;

}

.description,
.contact-container {
    background-color: #2C3346;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}


.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

#phone-ico,
#linkedin-ico,
#github-ico,
#email-ico {
    width: 2rem;
    height: 2rem;
}

/* language list*/

.programming-languages {
    display: flex;
    justify-content: space-around;
}

.languages-list {
    list-style-type: none;
    padding: 0;
}

.languages-list li {
    display: inline-block;
    background-color: #1A1C23;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}